@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

body {
    margin: 0;
    padding: 0;
    background: #000;
    color: #00ffae;
    font-family: 'Share Tech Mono', monospace;
    overflow-x: hidden;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -2;
}

/* Sidebar */
.sidebar {
    width: 230px;
    height: 100vh;
    background: rgba(0,255,120,0.05);
    border-right: 1px solid #00ff9d;
    backdrop-filter: blur(4px);
    position: fixed;
    left: 0;
    top: 0;
    padding-top: 30px;
}

.sidebar h2 {
    text-align: center;
    color: #00ffbd;
    margin-bottom: 20px;
}

.menu-item {
    padding: 12px 20px;
    font-size: 17px;
    cursor: pointer;
    border-left: 3px solid transparent;
}

.menu-item:hover, .active {
    background: rgba(0,255,120,0.1);
    border-left: 3px solid #00ffbd;
}

.menu-item a {
    color: #00ffae;
    text-decoration: none;
}

.main {
    margin-left: 260px;
    padding: 40px;
}

.box {
    border: 1px solid #00ff95;
    padding: 25px;
    border-radius: 5px;
    margin-bottom: 30px;
    background: rgba(0,255,120,0.03);
}

.big-title {
    font-size: 28px;
    color: #00ffbd;
    margin-bottom: 20px;
}
